In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

In [8]:
data = pd.read_csv("C:\\Users\\eunseo\\Desktop\\Git\\AI-project\\data\\train.csv")
print("dataset shape: ", data.shape)
data.sample(10)

dataset shape:  (36425, 78)

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
28154,11942,1.0,352,4.0,1751,5.0,643,1.0,738,2.0,...,0,1,0,1,1,0,1,0,1,1
1543,704,1.0,626,1.0,1922,5.0,1236,1.0,1498,1.0,...,1,1,0,1,1,1,1,1,1,1
5932,15008,3.0,335,1.0,667,3.0,652,1.0,777,5.0,...,1,1,0,1,1,0,1,0,1,1
2715,3980,4.0,626,4.0,1590,2.0,1083,5.0,1090,1.0,...,1,1,0,1,1,0,1,1,1,1
34413,9607,1.0,397,1.0,669,2.0,476,1.0,590,3.0,...,1,1,1,1,1,0,1,0,1,1
27074,11280,4.0,545,1.0,3077,5.0,1127,2.0,501,2.0,...,0,1,1,1,1,0,1,1,1,1
6760,11981,2.0,951,5.0,1742,5.0,1192,1.0,899,2.0,...,1,1,0,1,1,0,0,0,1,1
3029,9638,2.0,1194,1.0,15618,4.0,2564,2.0,1055,2.0,...,1,1,0,1,1,0,1,1,1,1
36241,26120,1.0,553,2.0,967,4.0,1040,2.0,906,1.0,...,1,1,0,1,1,0,1,0,1,1
5431,18834,2.0,507,5.0,633,2.0,1233,1.0,955,2.0,...,1,1,0,1,1,0,1,0,1,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36425 entries, 0 to 36424
Data columns (total 78 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       36425 non-null  int64
 1   QaA         36425 non-null  float64
 2   QaE         36425 non-null  int64
 3   QbA         36425 non-null  float64
 4   QbE         36425 non-null  int64
 5   QcA         36425 non-null  float64
 6   QcE         36425 non-null  int64
 7   QdA         36425 non-null  float64
 8   QdE         36425 non-null  int64
 9   QeA         36425 non-null  float64
 10  QeE         36425 non-null  int64
 11  QfA         36425 non-null  float64
 12  QfE         36425 non-null  int64
 13  QgA         36425 non-null  float64
 14  QgE         36425 non-null  int64
 15  QhA         36425 non-null  float64
 16  QhE         36425 non-null  int64
 17  QiA         36425 non-null  float64
 18  QiE         36425 non-null  int64
 19  QjA         36425 non-null  float64
 20  QjE         36425 non-null  int64
 21  QkA         36425 non-null  float64
 22  QkE         36425 non-null  int64
 23  QlA         36425 non-null  float64
 24  QlE         36425 non-null  int64
 25  QmA         36425 non-null  float64
 26  QmE         36425 non-null  int64
 27  QnA         36425 non-null  float64
 28  QnE         36425 non-null  int64
 29  QoA         36425 non-null  float64
 30  QoE         36425 non-null  int64
 31  QpA         36425 non-null  float64
 32  QpE         36425 non-null  int64
 33  QqA         36425 non-null  float64
 34  QqE         36425 non-null  int64
 35  QrA         36425 non-null  float64
 36  QrE         36425 non-null  int64
 37  QsA         36425 non-null  float64
 38  QsE         36425 non-null  int64
 39  QtA         36425 non-null  float64
 40  QtE         36425 non-null  int64
 41  age_group   36425 non-null  object
 42  education   36425 non-null  int64
 43  engnat      36425 non-null  int64
 44  familysize  36425 non-null  int64
 45  gender      36425 non-null  object
 46  hand        36425 non-null  int64
 47  married     36425 non-null  int64
 48  race        36425 non-null  object
 49  religion    36425 non-null  object
 50  tp01        36425 non-null  int64
 51  tp02        36425 non-null  int64
 52  tp03        36425 non-null  int64
 53  tp04        36425 non-null  int64
 54  tp05        36425 non-null  int64
 55  tp06        36425 non-null  int64
 56  tp07        36425 non-null  int64
 57  tp08        36425 non-null  int64
 58  tp09        36425 non-null  int64
 59  tp10        36425 non-null  int64
 60  urban       36425 non-null  int64
 61  voted       36425 non-null  int64
 62  wf_01       36425 non-null  int64
 63  wf_02       36425 non-null  int64
 64  wf_03       36425 non-null  int64
 65  wr_01       36425 non-null  int64
 66  wr_02       36425 non-null  int64
 67  wr_03       36425 non-null  int64
 68  wr_04       36425 non-null  int64
 69  wr_05       36425 non-null  int64
 70  wr_06       36425 non-null  int64
 71  wr_07       36425 non-null  int64
 72  wr_08       36425 non-null  int64
 73  wr_09       36425 non-null  int64
 74  wr_10       36425 non-null  int64
 75  wr_11       36425 non-null  int64
 76  wr_12       36425 non-null  int64
 77  wr_13       36425 non-null  int64
dtypes: float64(20), int64(54), object(4)
memory usage: 21.7+ MB

In [9]:
data.describe()

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
count,36425.000000,36425.000000,3.642500e+04,36425.000000,3.642500e+04,36425.000000,36425.000000,36425.000000,3.642500e+04,36425.000000,...,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000
mean,22740.586520,2.131942,9.392264e+02,2.897598,2.053925e+03,3.661414,1461.583775,1.750748,1.499025e+03,2.320494,...,0.868717,0.895072,0.329087,0.938888,0.971613,0.202663,0.945532,0.393988,0.947536,0.926781
std,13118.110333,1.199763,1.372469e+04,1.568342,1.984665e+04,1.431303,8097.443081,1.046655,1.109992e+04,1.370584,...,0.337715,0.306465,0.469888,0.239539,0.166078,0.401989,0.226942,0.488639,0.222964,0.260499
min,0.000000,1.000000,2.500000e+01,1.000000,2.500000e+01,1.000000,25.000000,1.000000,2.600000e+01,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11403.000000,1.000000,4.040000e+02,1.000000,8.760000e+02,2.000000,651.000000,1.000000,6.810000e+02,1.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
50%,22770.000000,2.000000,5.570000e+02,3.000000,1.220000e+03,4.000000,900.000000,1.000000,9.330000e+02,2.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
75%,34042.000000,3.000000,8.300000e+02,4.000000,1.842000e+03,5.000000,1339.000000,2.000000,1.361000e+03,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,45531.000000,5.000000,2.413960e+06,5.000000,3.232042e+06,5.000000,871557.000000,5.000000,1.552821e+06,5.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000